#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.cardList {
  display: flex;
  gap:3vw;
  width: 80vw;
  height: fit-content;
  box-sizing: border-box;
  flex-wrap:wrap;
  justify-content: center;
}